<%- include('./layouts/master-top')  %>
    <!-- Banner Section Start -->
    <section class="home-banner pd-70">
        <div class="fluid-container">
            <div class="left-col">
                <h1>Craft polished email signatures for your entire team in minutes.</h1>
                <p>Make your emails stand out with email signature generator. Start for free!</p>
                
               <div class="banner-btn-wrap">
               <a href="build-signature" class="btn-blue">Start your free trial</a>
                <a href="contact" class="btn-darkblue">Contact Us</a>
               </div>
               <ul class="check-section">
                    <li>14-day free trial</li>
                    <li>No CC required</li>
                    <li>Cancel anytime</li>
                </ul>
            </div>
            <div class="right-col">
                <img src="img/banner-image.png" alt="Banner">
            </div>
        </div>
    </section>
    <!-- Banner Section Ends -->
    <!-- Business Correspondence Section Start -->
    <section class="correspondence pd-70">
        <div class="container">
            <div class="title text-center">
                <h2>Why You Should Use An Email Signature For Business Correspondence</h2>
            </div>
            <ul class="display-flex text-center">
                <li>
                    <div class="inner-wrap">
                    <div class="correspondence-img">
                        <img src="img/grow-img.png" alt="Enhance your professional image">
                    </div>
                        <h2>Enhance your professional image</h2>
                       
                    </div>
                    
                </li>
                <li>
                    <div class="inner-wrap dull-lavender">
                        <div class="correspondence-img">
                        <img src="img/marketing-channel.png" alt="Set additional marketing channel">
                        </div>
                        <h2>Set additional marketing channel</h2>
                       
                    </div>
                </li>
                <li>
                    <div class="inner-wrap feather-star">
                        <div class="correspondence-img">
                        <img src="img/develop-relationships.png" alt="Develop relationships based on trust">
                    </div>
                        <h2>Develop relationships based on trust</h2>
                       
                    </div>
                </li>
                <li>
                    <div class="inner-wrap aztec-turquoise">
                    <div class="correspondence-img">
                        <img src="img/professional-image.png" alt="Enhance your professional image">
                    </div>
                        <h2>Enhance your professional image</h2>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- Business Correspondence Section Ends -->
    <!-- How it start section Start -->
    <section class="how-it-work pd-70">
        <div class="container">
            <div class="title text-center">
                <h2>How It Works</h2>
            </div>
            <ul class="display-flex text-center process-box">
                <li>
                    <div class="inner-wrap count-section">
                    <div class="counter">
                        <h3>1</h3>
                    </div>
                        <h2>Choose Template</h2>
                        <p>Select a signature template from our beautifully designed options.</p>
                    
                </div>
                </li>
                <li>
                    <div class="inner-wrap count-section">
                    <div class="counter">
                        <h3>2</h3>
                        </div>
                        <h2>Build Signature</h2>
                        <p>Personalize the chosen template by adding your own information using our builder tool.</p>
                    
                </div>
                </li>
                <li>
                    <div class="inner-wrap count-section">
                    <div class="counter">
                        <h3>3</h3>
                    </div>
                        <h2>Download</h2>
                        <p>Once your signature is complete, download it for immediate use.</p>
                </div>
                </li>
    
            </ul>
            <div class="it-work-trial">
            <div class="banner-btn-wrap">
               <a href="build-signature" class="btn-blue">Start your free trial</a>
                <a href="build-signature" class="btn-darkblue">Contact Us</a>
               </div>
               <ul class="check-section">
                    <li>14-day free trial</li>
                    <li>No CC required</li>
                    <li>Cancel anytime</li>
            </ul>
            <div class="title text-center cross-title">
                <h2>True Cross-Platform Compatibility</h2>
            </div>
            <div class="cross-platform">
                <ul>
                    <li><img src="img/gmail-icon.png" alt="Gmail"></li>
                    <li><img src="img/outlook-old.png" alt="Outlook"></li>
                    <li><img src="img/apple-mail.png" alt="Apple Mail"></li>
                    <li><img src="img/massanger.png" alt="Massanger"></li>
                    <li><img src="img/thunderbird.png" alt="Thunderbird"></li>
                    <li><img src="img/yahoo.png" alt="yahoo"></li>
                    <li><img src="img/mail-bird.png" alt="Mail Bird"></li>
                    <li><img src="img/em-client.png" alt="Em Client"></li>
                    <li><img src="img/spark-mail.png" alt="Spark Mail"></li>
                    <li><img src="img/outlook.png" alt="Microsoft Outlook"></li>
                    <li><img src="img/air-mail.png" alt="Air Mail"></li>
                </ul>
            </div>
    </div>
        </div>
    </section>
    
    <!-- How it start section Ends -->
    
    <!-- Benefit Section Start -->
    <section class="benefit-sec pd-70">
        <div class="container">
            <ul class="benefit-row">
                <li>
                    <div class="text-box col">
                        <h2>A successful marketing approach</h2>
                        <p>Generate organic traffic to your website at no cost by leveraging the emails you send out daily. Consider implementing an Email Signature strategy.</p>
                    </div>
                    <div class="image-box col">
                        <img src="img/sucess-marketin-approach.png" alt="sucess marketin approach">
                    </div>
                </li>
                <li>
                    <div class="text-box col">
                        <h2>Engage on social platforms</h2>
                        <p>Incorporate links to your social media profiles, facilitating effortless access for recipients to connect with you online and discover more about your business.</p>
                    </div>
                    <div class="image-box col">
                        <img src="img/enggese-on-social.png" alt="enggese on social">
                    </div>
                </li>
                <li>
                    <div class="text-box col">
                        <h2>Add a personal twist</h2>
                        <p>Upload a photo to your email signature to leave a positive impression on recipients and build trust.</p>
                    </div>
                    <div class="image-box col">
                        <img src="img/personal-twist.png" alt="Personal Twist">
                    </div>
                </li>
                <li>
                    <div class="text-box col">
                        <h2>No coding or design experience required</h2>
                        <p>Achieve your desired appearance effortlessly! Just input your information, select a template, and receive polished, professional results in under 2 minutes.</p>
                    </div>
                    <div class="image-box col">
                        <img src="img/experience-required.png" alt="Experience Required">
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- Benefit Section Ends -->
    <!-- Trusted by Entrepreneurs Section Start -->
    <section class="entrepreneurs pd-80">
        <div class="container">
            <div class="title text-center">
                <h2>Here are some positive words from our satisfied users...</h2>
            </div>
            <ul class="entrepreneurs-slider owl-carousel">
                <li>
                    <div class="inner-wrap">
                       <div class="left-col">
                        <p>Etiam dictum lacinia mauris, at tristique elit consectetur vehicula. Nam imperdiet, lectus ut bibendum cursus, dolor nisi scelerisque diam, vel porta dui mauris eu urna. Donec finibus tortor in urna consequat facilisis. </p>
                        <h3>Jane Doe</h3>
                        <h4>FOUNDER, COMPANY NAME</h4>
                       </div>
                       <div class="right-col">
                        <figure>
                        <img src="img/review-img.png" alt="">
                        </figure>
                       </div>
                    </div>
                </li>
                <li>
                    <div class="inner-wrap">
                       <div class="left-col">
                        <p>Etiam dictum lacinia mauris, at tristique elit consectetur vehicula. Nam imperdiet, lectus ut bibendum cursus, dolor nisi scelerisque diam, vel porta dui mauris eu urna. Donec finibus tortor in urna consequat facilisis. </p>
                        <h3>Jane Doe</h3>
                        <h4>FOUNDER, COMPANY NAME</h4>
                       </div>
                       <div class="right-col">
                        <figure>
                        <img src="img/review-img.png" alt="">
                        </figure>
                       </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- Trusted by Entrepreneurs Section Ends -->
    
    <!-- CTA Section Start -->
    <section class="cta-section pd-80">
        <div class="container cta-wrap">
            <div class="title text-center">
                <h2>Create Professional Email Signatures For Your Entire Team Within Minutes.</h2>
                <p>Elevate your company's promotion with email signature marketing. Customize calls-to-action in each email your team sends. Experience streamlined email signature management.</p>
            </div>
            <div class="banner-btn-wrap">
               <a href="build-signature" class="btn-blue">Start your free trial</a>
                <a href="build-signature" class="btn-darkblue">Contact Us</a>
               </div>
        </div>
    </section>
    <!-- CTA Section Ends -->
    <!-- Latest Blog Ends -->
    
    <!-- Owl Carousel JS -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- Custom JS -->
    <script src="js/custom.js"></script>   
<%- include('./layouts/master-bottom')  %>