<%- include('./master-top')  %>


<div class="error-code">404 | Not Found</div>
    <!-- <div class="error-message">Oops! The page you’re looking for doesn’t exist.</div>
    <a href="/" class="home-link">Back to Home</a>
    <div class="footer">© 2024 Your Website. All rights reserved.</div> -->

<%- include('./master-bottom')  %>