<header>
    <div class="full-container">
        <!-- Logo Start -->
        <div class="logo">
            <a href="/">
                <img src="img/logo.svg" alt="Signature Builder">
            </a>
        </div>
        <!-- Logo Ends -->

        <!-- Navigation Start -->
        <div class="navigation-section">
        <nav>
            <div class="hamburgerMenu">
           <div class="menuBars"><span></span></div>
           </div>
            <ul class="navigation">
                <!-- <li class="nav-item">
                    <a class="nav-link" href="{{ url('features') }}">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('tools') }}">Tools</a>
                </li> -->
                <!-- <li class="nav-item">
                    <a class="nav-link" href="{{ url('templates') }}">Templates</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="/pricing">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </nav>
        <!-- Navigation Ends -->
        
        <!-- Login & Sign Up Button Start -->
        <div class="login-btnwrap" style="display: ruby;">
            
            <ul>
                <li>
                    <a class="inner-btn" href="/login">Login</a>
                </li>
                <li> <a class="inner-btn resister-btn" href="/register">Register</a></li>
            </ul>
            <a title="Update Profile" href="/profile">Auth name</a>&nbsp;&nbsp;
            <a href="{{ url('orders') }}">My Orders</a>&nbsp;
        </div>
        <!-- Login & Sign Up Button Ends -->
    </div>
    </div>

</header>