<footer class="text-center">
    <div class="container">
        <figure class="footer-logo">
            <a href="/"><img src="img/footer-logo.svg" alt="Logo"></a>                    
        </figure>
        <ul class="social-links">
            <li>
                <a href="#" target="_blank"><img src="img/mail-icon.svg" alt="Email"></a>
            </li>
            <li>
                <a href="#" target="_blank"><img src="img/facebook-icon.svg" alt="Facebook"></a>
            </li>
            <li>
                <a href="#" target="_blank"><img src="img/twitter-icon.svg" alt="Twitter"></a>
            </li>
        </ul>
        <div class="footer-menu">
            <ul>
            <!-- <li>
                    <a href="{{ url('templates') }}">Templates</a>
                </li> -->
                <li class="nav-item">
                    <a href="/pricing">Pricing</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
                <!-- <li>
                    <a href="{{ url('features') }}">Features</a>
                </li> -->
                <li>
                    <a href="/privacy">Privacy & Terms</a>
                </li>
                <!-- <li>
                    <a href="{{ url('contact') }}">Contact</a>
                </li> -->
            </ul>
        </div>
        <div class="copy-right">
            <p>© 2024 EmailSignature.cloud. All rights reserved.</p>
        </div>
    </div>
</footer>