<!DOCTYPE html>
<html lang="en">
<head>
    <title>Email Signature</title>
    <meta charset="UTF-8">
    <meta name="author" content="OG Web Solutions">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="csrf-token" content="<%- csrfToken  %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Favicon Link -->
    <link rel="icon" href="img/Favicon.png" type="image/png" sizes="32x32">
    <!-- Carousel Slider -->
     <%- include('style')  %>
</head>
<body>
    <div id="app"></div>

    <!-- Main Wrapper Start -->
    <div class="main-wrapper">
    	<!-- Header -->
        <%- include('main-header')  %>

        <!-- Content Wrapper Start -->
        <div class="content-wrapper">
		
		